/* import fonts from fonts.css file */
@import url(./font.css);

/* start navigation */ 

.header_area .main-menu .navbar .navbar-brand{
    padding: 0 2rem 0 5rem;
}

.header_area .main-menu .navbar{
    padding: 1rem 20rem;
}

.header_area .main-menu .nav-item .nav-link{
    padding: 1.7rem;
    font-weight: 400;
    color: darkgray;
}

.header_area .main-menu .navbar-nav a:hover{
    background: #201adb;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.site-main .site-body{
    background-image:url(../img/Screen\ Shot\ 2020-12-15\ at\ 6.41.04\ PM.png) no-repeat 0% 50%;
}

.site-main .site-body h5{
    padding-top: 35%;
    
}

.site-main .site-body .para{
    padding: 0.5rem;
    padding-left: 1.2rem;
    padding-top: 1.3rem;
    padding-right: 2.9rem;
    font-weight: 400;
    color: rgb(27, 27, 27);
}

/* end navigation */ 

.para{
    padding-top: 1.2rem;
    line-height: 1.8rem;
}

img{
    margin-top: 2rem;
    margin-left: 2rem;

}

.name-header{
    padding-left: 1.2rem;
    padding-top: 1.5rem;
}